* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.contact-header {
  background-color: orange;
  height: 200px;
}

.contact-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 18px;
}

/* Footer */
.contact-footer {
  background-color: lightgray;
  height: 100px;
}
